:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(142, 90%, 61%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  min-height: 100vh;
  place-items: center;
  line-height: 1.6;
  padding-right: 15rem;
}



.card-container {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  padding: 2rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  border: 1px solid white;
  flex-wrap: wrap;
  padding: 40px 0;
}

.card {
  color: var(--clr-neutral-100);
  background-size: cover;
  margin: 0 0.5rem 0;
  max-width: 35ch;
  border-radius: 2rem;
  overflow: hidden;

  transition: transform 500ms ease;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.3s linear;
}

.card-content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0.5),
    rgb(16, 31, 0)
  );

  transform: translateY(65%);
  transition: transform 500ms ease;
}

.card-content > *:not(.card-title) {
  opacity: 0;
  transition: opacity 500ms linear;
}

.card:hover .card-content {
  transform: translateY(0);
}

.card:hover .card-content > * {
  opacity: 1;
  transition: opacity 500ms ease;
}

.card-title {
  position: relative;
  width: max-content;
  max-width: 100%;
}

.card-title::after {
  content: '';
  position: absolute;
  height: 3px;
  left: calc(var(--padding) * -1);
  bottom: -2px;
  width: calc(100% + var(--padding));
  background: var(--clr-neutral-400);
  transform: scaleX(0);
  transform-origin: left;

  transition: transform 500ms ease;
}

.card:hover .card-title::after {
  transform: scaleX(1);
}